<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <w-panel>
            <w-panel-header title="{{'article-management-tooltip' |translate}}">
                <w-panel-toolbox>
                    <w-panel-toolbox-chevron>
                    </w-panel-toolbox-chevron>
                    <w-panel-toolbox-tool>
                        <w-panel-toolbox-tool-item divider>
                            <a href="#">Settings 1</a>
                        </w-panel-toolbox-tool-item>
                        <w-panel-toolbox-tool-item>
                            <a href="#">Settings 2</a>
                        </w-panel-toolbox-tool-item>
                    </w-panel-toolbox-tool>
                    <w-panel-toolbox-close>
                    </w-panel-toolbox-close>
                    
                </w-panel-toolbox>
            </w-panel-header>
            <w-panel-content>
            <table id="article_list" ng-table="articles" class="table table-striped responsive-utilities jambo_table">
                <tr ng-repeat="row in $data ">
                    <td data-title="'Societe'" >{{row.Societe}}</td>
                    <td data-title="'Code'" >{{row.Code}}</td>
                </tr>
            </table>
        
            </w-panel-content>
        </w-panel>
    </div>
</div>