<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <w-panel>
            <w-panel-header title="Rechercher">
                <w-panel-toolbox>
                    <w-panel-toolbox-chevron>
                    </w-panel-toolbox-chevron>
                    <w-panel-toolbox-tool>
                        <w-panel-toolbox-tool-item divider>
                            <a href="#">Settings 1</a>
                        </w-panel-toolbox-tool-item>
                        <w-panel-toolbox-tool-item>
                            <a href="#">Settings 2</a>
                        </w-panel-toolbox-tool-item>
                    </w-panel-toolbox-tool>
                    <w-panel-toolbox-close>
                    </w-panel-toolbox-close>
                    
                </w-panel-toolbox>
            </w-panel-header>
            <w-panel-content>
                <w-search-box class="col-md-12 col-sm-6 col-xs-12 " fields="searchFields">
                </w-search-box>
                
        
            </w-panel-content>
        </w-panel>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <w-panel>
            <w-panel-header title="{{'article-management-tooltip' |translate}}">
                <w-panel-toolbox>
                    <w-panel-toolbox-chevron>
                    </w-panel-toolbox-chevron>
                    <w-panel-toolbox-tool>
                        <w-panel-toolbox-tool-item divider>
                            <a href="#">Settings 1</a>
                        </w-panel-toolbox-tool-item>
                        <w-panel-toolbox-tool-item>
                            <a href="#">Settings 2</a>
                        </w-panel-toolbox-tool-item>
                    </w-panel-toolbox-tool>
                    <w-panel-toolbox-close>
                    </w-panel-toolbox-close>
                    
                </w-panel-toolbox>
            </w-panel-header>
            <w-panel-content>
                <form class="form-horizontal form-label-left input_mask">
       
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="code" placeholder="Code Article"  ng-model="current.Code">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="libelle" placeholder="Libelle" ng-model="current.Libelle">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <uib-tabset active="active">
                            <uib-tab index="0" heading="General">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Stock">
                                
                            </uib-tab>
                            <uib-tab index="2" >
                                <uib-tab-heading>
                                    <i class="fa fa-euro"></i> Cout
                                </uib-tab-heading>
                                COUT
                            </uib-tab>
                        </uib-tabset>
                    </div>               
                    
                    <div class="col-md-12 col-sm-12 col-xs-12  ln_solid"></div>
                    
                        
                    <div class="col-md-2 col-sm-12 col-xs-12 ">
                        <w-navigation-bar></w-navigation-bar>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 pull-left">
                        <!--w-spinner ng-model="index" nd-disabled="count==0"></w-spinner>-->
                        <input type="text" model="index" ng-touch-spin callback="get(index)">
                        <!--<w-toto ng-model="index" ></w-toto>-->
                        <!--<button w-toto ng-model="index" callback="get(index)">CLICK ME</button>-->
                    </div>
                       
                    <div class="col-md-2 col-sm-12 col-xs-12 pull-left">
                        <div class="btn-group" role="group"     >   
                            <w-navigation-button icon="floppy-o" ng-click="last()" ng-disabled="modified==false"  uib-tooltip="Enregistrer" tooltip-placement="top"></w-navigation-button>
                            <w-navigation-button icon="reply" ng-click="last()" ng-disabled="modified==false"  uib-tooltip="Annuler" tooltip-placement="top"></w-navigation-button>
                            <w-navigation-button icon="print" ng-click="last()" ng-disabled="modified==false"  uib-tooltip="Imprimer" tooltip-placement="top"></w-navigation-button>
                            <w-navigation-button icon="trash-o" ng-click="last()" ng-disabled="modified==false"  uib-tooltip="Supprimer" tooltip-placement="top"></w-navigation-button>
                            
                        </div>
                    </div>

                </form>
        
            </w-panel-content>
        </w-panel>
    </div>
</div>
