<div class="btn-group" role="group" >
    <w-navigation-button icon="step-backward" ng-click="first()" ng-disabled="index==1" uib-tooltip="Premier" tooltip-placement="top"></w-navigation-button>
    <w-navigation-button icon="caret-left" ng-click="previous()" ng-disabled="index==1" uib-tooltip="Précédent" tooltip-placement="top"></w-navigation-button>
    <w-navigation-button icon="search" ng-click="search()" ng-disabled="count==0" uib-tooltip="Rechercher" tooltip-placement="top"></w-navigation-button>
    <w-navigation-button icon="caret-right"  ng-click="next()" ng-disabled="index==count" uib-tooltip="Suivant" tooltip-placement="top"></w-navigation-button>
    <w-navigation-button icon="step-forward" ng-click="last()" ng-disabled="index==count" uib-tooltip="Dernier" tooltip-placement="top"></w-navigation-button>
</div>